<%- include('menu') %>

<h1>Guests</h1>

<% if(guests.length) { %>
<table border="1">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Site</th>
    </tr>
<%
    guests.forEach(function (e, i) { %>
    <tr>
        <td>
            <%= (i + 1) %>
        </td>
        <td>
            <%= e.name %>
        </td>
        <td>
            <%= e.site %>
        </td>
    </tr>

    <%
        
     })
%>

</table>

<% }
else { %>
<h1>No guests</h1>
<%    
} %>